src/main/resources/appstream/calendar-local-global.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="components" type="componentsType"/>
  <xs:complexType name="releasesType">
    <xs:sequence>
      <xs:element type="releaseType" name="release"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="kudosType">
    <xs:sequence>
      <xs:element name="kudo" maxOccurs="unbounded" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="AppMenu"/>
            <xs:enumeration value="HiDpiIcon"/>
            <xs:enumeration value="ModernToolkit"/>
            <xs:enumeration value="SearchProvider"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="componentType">
    <xs:sequence>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="translationType" name="translation"/>
      <xs:element name="name" maxOccurs="unbounded" minOccurs="0">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute ref="xml:lang"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="summary" maxOccurs="unbounded" minOccurs="0">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute ref="xml:lang"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element type="descriptionType" name="description" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="iconType" name="icon" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="categoriesType" name="categories"/>
      <xs:element type="keywordsType" name="keywords"/>
      <xs:element type="kudosType" name="kudos"/>
      <xs:element type="mimetypesType" name="mimetypes"/>
      <xs:element type="xs:string" name="project_license"/>
      <xs:element type="urlType" name="url" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:string" name="project_group"/>
      <xs:element type="screenshotsType" name="screenshots"/>
      <xs:element type="releasesType" name="releases"/>
      <xs:element type="languagesType" name="languages"/>
      <xs:element type="bundleType" name="bundle"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="type"/>
  </xs:complexType>
  <xs:complexType name="summaryType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="xml:lang"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="screenshotType">
    <xs:sequence>
      <xs:element name="caption" maxOccurs="unbounded" minOccurs="0">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute ref="xml:lang"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element type="imageType" name="image"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="type" use="optional"/>
  </xs:complexType>
  <xs:complexType name="componentsType">
    <xs:sequence>
      <xs:element type="componentType" name="component"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="version"/>
    <xs:attribute type="xs:string" name="origin"/>
  </xs:complexType>
  <xs:complexType name="langType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="percentage" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="bundleType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="type"/>
        <xs:attribute type="xs:string" name="runtime"/>
        <xs:attribute type="xs:string" name="sdk"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="translationType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="type"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="captionType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="xml:lang"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="languagesType">
    <xs:sequence>
      <xs:element type="langType" name="lang" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="keywordsType">
    <xs:sequence>
      <xs:element name="keyword" maxOccurs="unbounded" minOccurs="0">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute ref="xml:lang"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="screenshotsType">
    <xs:sequence>
      <xs:element type="screenshotType" name="screenshot" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="nameType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="xml:lang"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="categoriesType">
    <xs:sequence>
      <xs:element name="category" maxOccurs="unbounded" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Calendar"/>
            <xs:enumeration value="Core"/>
            <xs:enumeration value="Office"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="urlType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="type" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="descriptionType">
    <xs:sequence>
      <xs:element type="xs:string" name="p" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute ref="xml:lang"/>
  </xs:complexType>
  <xs:complexType name="releaseType">
    <xs:sequence>
      <xs:element type="descriptionType" name="description"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="version"/>
    <xs:attribute type="xs:string" name="timestamp"/>
  </xs:complexType>
  <xs:complexType name="iconType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="height" use="optional"/>
        <xs:attribute type="xs:string" name="width" use="optional"/>
        <xs:attribute type="xs:string" name="type" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="keywordType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="xml:lang"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="imageType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="type" use="optional"/>
        <xs:attribute type="xs:string" name="height" use="optional"/>
        <xs:attribute type="xs:string" name="width" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="mimetypesType">
    <xs:sequence>
      <xs:element type="xs:string" name="mimetype"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>